.blur-layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: 0;
}

.blur-layer:nth-child(1) { 
  backdrop-filter: blur(0.140625px);
  -webkit-backdrop-filter:blur(0.140625px);
  z-index: 1;
  mask-image: linear-gradient(
    to top, 
  rgba(0, 0, 0, 0) 0%, 
  rgba(0, 0, 0, 1) 12.5%,
  rgba(0, 0, 0, 1) 25%, 
  rgba(0, 0, 0, 0) 37.5%);
  -webkit-mask-image:linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 12.5%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 37.5%);
}

.blur-layer:nth-child(2) { 
  backdrop-filter: blur(0.28125px); 
  -webkit-backdrop-filter:blur(0.28125px);
  z-index: 2;
  mask-image: linear-gradient(
    to top,
  rgba(0, 0, 0, 0) 12.5%,
  rgba(0, 0, 0, 1) 25%,
  rgba(0, 0, 0, 1) 37.5%, 
  rgba(0, 0, 0, 0) 50%);
  -webkit-mask-image:linear-gradient(to top, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 37.5%, rgba(0, 0, 0, 0) 50%);
}

.blur-layer:nth-child(3) { 
  backdrop-filter: blur(0.5625px);
  -webkit-backdrop-filter:blur(0.5625px);
  z-index: 3;
  mask-image: linear-gradient(
    to top,
  rgba(0, 0, 0, 0) 25%,
  rgba(0, 0, 0, 1) 37.5%,
  rgba(0, 0, 0, 1) 50%,
  rgba(0, 0, 0, 0) 62.5%);
  -webkit-mask-image:linear-gradient(to top, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 37.5%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 62.5%);
}

.blur-layer:nth-child(4) { 
  backdrop-filter: blur(1.125px);
  -webkit-backdrop-filter:blur(1.125px);
  z-index: 4;
  mask-image: linear-gradient(
    to top,
  rgba(0, 0, 0, 0) 37.5%,
  rgba(0, 0, 0, 1) 50%,
  rgba(0, 0, 0, 1) 62.5%, 
  rgba(0, 0, 0, 0) 75%);
  -webkit-mask-image:linear-gradient(to top, rgba(0, 0, 0, 0) 37.5%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 62.5%, rgba(0, 0, 0, 0) 75%);
}

.blur-layer:nth-child(5) { 
  backdrop-filter: blur(2.25px); 
  -webkit-backdrop-filter:blur(2.25px);
  z-index: 5;
  mask-image: linear-gradient(
    to top,
  rgba(0, 0, 0, 0) 50%,
  rgba(0, 0, 0, 1) 62.5%,
  rgba(0, 0, 0, 1) 75%,
  rgba(0, 0, 0, 0) 87.5%);
  -webkit-mask-image:linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 62.5%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 87.5%);
}

.blur-layer:nth-child(6) { 
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter:blur(4.5px);
  z-index: 6;
  mask-image: linear-gradient(
    to top, 
  rgba(0, 0, 0, 0) 62.5%,
  rgba(0, 0, 0, 1) 75%,
  rgba(0, 0, 0, 1) 87.5%,
  rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image:linear-gradient(to top, rgba(0, 0, 0, 0) 62.5%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.blur-layer:nth-child(7) { 
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter:blur(9px);
  z-index: 7;
  mask-image: linear-gradient(
    to top,
  rgba(0, 0, 0, 0) 75%,
  rgba(0, 0, 0, 1) 87.5%,
  rgba(0, 0, 0, 1) 100%);
  -webkit-mask-image:linear-gradient(to top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 87.5%, rgba(0, 0, 0, 1) 100%);
}

.blur-layer:nth-child(8) { 
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter:blur(18px);
  z-index: 8;
  mask-image: linear-gradient(
    to top,
  rgba(0, 0, 0, 0) 87.5%,
  rgba(0, 0, 0, 1) 100%);
  -webkit-mask-image:linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
}
