body {
  margin: 0;
  padding: 0;
  overflow: auto; /* Asegúrate de que el body permita el scroll */
  background-color: black;
}

canvas {
  display: block;
  position: fixed; /* Fija el canvas para que ocupe toda la pantalla */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
}